body {
    margin: 0;
    overflow: hidden;
}

#chatmsg {
    width:400px;
    color:white;
    margin-top:12px;
    word-wrap: break-word;
    font-family: 'Ubuntu Mono', monospace;
    text-shadow: 1px 1px 2px black;
    font-size: 18pt;
    transition: margin-top 0.5s;
    animation: fading 0.5s;
}

#chatmsg:first-child {
    margin-top: -20px;
}

#chatmsgs {
    left: 0px;
    top: 0px;
    width: 400px;
    height: 800px;
    position: relative;
    padding-top: 40px;
    transition: padding-top 0.5s;
}

#chatmsgs:empty {
    padding-top: 0px;
}

@keyframes fading {
    0% { opacity: 0; }
    100% { opacity: 1; }
}